:root {
  --max-width: 600px;
  --primary-color: skyblue;
  --secondary-color: steelblue;
  --lighter-color: #fafafa;
  --light-color: #f3f3f3;
  --gray-color: #c4c4c4;
  --dark-color: #333;
  --darker-color: #111;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(197, 197, 197);
  background-image: url("https://i.imgur.com/Bu9jRQa.jpg");
  background-size: cover;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: var(--lighter-color);
  text-align: center;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

h1,
.group-name {
  color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: var(--max-width);
  height: 100vh;
  padding: 1rem;
  margin: 0 2rem;

  border: 1px solid var(--primary-color);
  background: rgba(0, 0, 0, 0.8);
}

.form-group {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

label {
  margin: 0 0 0.5rem 0;
}

input,
select,
button {
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  font-size: 1.75rem;
}

button {
  margin: 0.5rem 0 0 0;
  background: var(--primary-color);
  transition: all ease 0.2s;
}

button:hover {
  background: var(--secondary-color);
  color: var(--light-color);
}

.checkboxes-group label,
.radio-group label {
  padding: 0 2rem;
}

textarea {
  padding: 0.5rem;
  width: 100%;
  height: 15rem;
  margin: 2rem auto;
  font-size: 2rem;
}
