/* ////////// Medium devices (tablets, less than 992px) ////////// */
@media (max-width: 992px) {
    .btn {
        width: 8%;
        height: auto;
    }

    /* This deletes the padding from boxes so they dont look cramped */
    body > main > div > div.row.flex-grow-1.bg-blue.my-2 > div > button {
        padding: 0;
    }
}

/* ////////// Small devices (landscape phones, less than 768px) ////////// */
@media (max-width: 768px) {
    /* Box number buttons */
    body > main > div > div.row.flex-grow-1.bg-blue.my-2 > div > button {
        font-size: 1rem;
    }
}

/* ////////// Extra small devices (portrait phones, less than 576px) ////////// */
@media (max-width: 576px) {
    /* Box number buttons */
    body > main > div > div.row.flex-grow-1.bg-blue.my-2 > div > button {
        font-size: .9rem;
    }

    /* Bottom buttons */
    body > main > div > div.row.flex-grow-0.bg-light > div > button {
        border: 3px solid green !important;
        width: 15%;
        margin-top: .5rem;
    }
}