// Modify the default map
$theme-colors: (
  "primary": #0a0a23,
  "secondary": #00ffff,
  "success": #72d6c9,
  "info": #00aedb,
  "warning": #df7599,
  "danger": #ffc785,
  "purple": #b19cd9,
  "light": #ffffff,
  "dark": #000000
);


// Create your own map
$custom-colors: (
  "html": #e34f26,
  "css": #2965f1,
  "javascript": #f7df1e,
  "github": #4078c0,
  "bootstrap":#7e12f9,
  "react": #61DBFB,
  "youtube": #ff0000,
  "udemy": #ec5252,
  "freecodecamp": #006400
);


// Grays color map
$grays: () !default;
$grays: map-merge((
  "white": #fff,
  "gray-100": #f8f9fa,
  "gray-200": #e9ecef,
  "gray-300": #dee2e6,
  "gray-400": #ced4da,
  "gray-500": #adb5bd,
  "gray-600": #868e96,
  "gray-700": #495057,
  "gray-800": #343a40,
  "gray-900": #212529,
  "gray-950": #222222,
  "black": #000
), $grays);



// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-merge($theme-colors, $grays);


// Custom font size
$font-sizes: () !default;
$font-sizes: map-merge((
  1: 10rem,
  2: 5rem,
  3: 4rem,
  4: 3rem,
  5: 2rem,
  6: 1rem
), $font-sizes);


// Modify bootstrap utility class
.btn {
  border-radius: 0!important;
}
