// Modify the default map
$theme-colors: (
  "primary": #0a0a23,
  "secondary": #00ffff,
  "success": #72d6c9,
  "info": #00aedb,
  "warning": #df7599,
  "danger": #ffc785,
  "purple": #b19cd9,
  "light": #ffffff,
  "dark": #000000
);

// Create your own map
$custom-colors: (
  "html": #e34f26,
  "css": #2965f1,
  "javascript": #f7df1e,
  "github": #4078c0,
  "bootstrap":#7e12f9 ,
  "youtube": #ff0000,
  "udemy": #ec5252,
  "freecodecamp": #006400
);

// Gray variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$grays: () !default;
$grays: map-merge((
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "gray-950": #222222 // New color 
), $grays);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-merge($theme-colors, $grays);

// Modify bootstrap utility class
.btn {
  border-radius: 0!important;
}
