@import "custom";
@import "../../vendor/bootstrap/scss/bootstrap"; // Include all of Bootstrap

body {
  height: 100vh;
  position: relative; // Needed for scrollspy
  font-family: 'Roboto Mono', monospace;
  font-size: 1.20rem;
  font-weight: 500;
  line-height: 1.5;
}

// #home {
//   height: 100vh;
// }

#home,
#fcc-projects,
#youtube-projects,
#udemy-projects {
  // outline: 1px solid red;
  min-height: 100vh;
}

section {
  padding-top: 4rem;
  padding-bottom: -4rem;
}

h5 {
  font-family: 'Lato', sans-serif;
}

.badge {
  font-weight: 400;
}