@import "custom";
@import "../../vendor/bootstrap/scss/bootstrap"; // Include all of Bootstrap

body {
  // background: linear-gradient(to bottom, rgb(15, 15, 15), rgb(88, 180, 255));
  height: 100vh;
  position: relative; // Needed for scrollspy 
}

#home {
  height: 100vh;
  // padding: 0;
  // margin: 0;
}

// #home,
#fcc-projects,
#youtube-projects,
#udemy-projects {
  // outline: 1px solid red;
  min-height: 100vh;
}

section {
  padding-top: 4rem;
  padding-bottom: -4rem;
  // margin-top: -4rem;
  // outline: 1px solid blue;
}