/***** Reset *****/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/***** Variables *****/

:root {
  --brightest-color: #ffffff;
  --lightblue-color: #00a8e8;
  --blue-color: #007ea7;
  --darkblue-color: #003459;
  --darkest-color: #00171f;
}

/***** General *****/

body {
  font-family: Helvetica, sans-serif;
  color: var(--brightest-color);
  text-align: center;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--darkest-color);
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% 40% 10% 30%;
  height: 640px;
  width: 480px;
  border: 4px solid var(--brightest-color);
}

/***** Header *****/

header {
  background: var(--blue-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** Main *****/

main {
  background: var(--darkblue-color);
}

.results {
  line-height: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .result {
} */

/***** Sub *****/

sub {
  background: violet;
}

.total-score {
  background: var(--lightblue-color);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .player-score {

} */

/* .cpu-score {

} */

/***** Section *****/

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  background: var(--blue-color);
}

.image_box {
  border: 1px solid var(--brightest-color);
  margin: 10px;
  cursor: pointer;
  background: var(--brightest-color);
}

.image_box img {
  /* https://mor10.com/removing-white-space-image-elements-inline-elements-descenders/ */
  /* https://stackoverflow.com/questions/46339322/there-is-a-small-space-below-the-img */
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.image_box,
.image_box img {
  border-radius: 50%;
}

.clickAnimation {
	animation: clickAnimation 0.5s;
}

@keyframes clickAnimation {
	50% {
    opacity: 0.5;
	}
}